body {
    width: 70%;
    height: auto;
    border: 1px solid#000;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

header {
    width: 100%;
    height: auto;
    background: #CFD0D4;
    border-radius: 10px 10px 0 0;
    padding-bottom: 15px;
}

#FullPole {
    width: 100%;
    height: 90%;
    border: 0px solid #000;
    margin: auto;
    border-radius: 10px 10px 0 0;
    display: flex;
}

#LeftPole {
    width: 33.3%;
    height: 99%;
    border: 0px solid #000;
    padding-top: 40px;
}

.Contact {
    border: 0px solid #000;
    width: 100%;
    height: 50%;
}

#IconHomeTelefon {
    width: 40px;
    height: 40px;
}

#HomeTelefon {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

#IconSotovTelefon {
    width: 40px;
    height: 40px;
}

#SotovTelefon {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

#FonLogo {
    border: 0px solid #000;
    width: 33.3%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Logo {
    width: 280px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

#RightPole {
    width: 33.3%;
    height: 100%;
    border: 0px solid#000;
    position: relative;
}

#Adress {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    padding-top: 10%;
}

main {
    box-sizing: border-box;
    width: 660px;
    height: 60px;
    left: 390px;
    top: 260px;
    background: #F5E6E1;
    border: 1px solid #753840;
    box-shadow: 5px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: auto;
}

.Menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #040404;
    text-decoration: none;
    padding-left: 14%;
}

article {
    width: 70%;
    height: auto;
    border: 0px solid#000;
    margin: auto;
    margin-top: 20px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 20px;
}

#InformONas {
    width: 70%;
    height: auto;
    border: 3px solid #753840;
    background: #E7CAA8;
    margin: auto;
    border-radius: 10px;
}

.TextONas {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 300;
}

#map {
    width: 75%;
    height: auto;
    border: 0px solid red;
    margin: auto;
}

hr {
    width: 70%;
    border: 3px solid #753840;
    margin: auto;
    margin-top: 20px;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    /* identical to box height, or 94% */
    text-align: center;
    text-indent: 5px;
    color: #000000;
}

footer {
    height: auto;
    width: 100%;
    background: #F5E6E1;
    border: 0px solid #000;
    border-radius: 0 0 10px 10px;
}

#FullFooter {
    display: flex;
    border: 0px solid #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.PoleFooter {
    border: 0px solid#000;
    width: 30.3%;
    background: #D9D9D9;
    margin: auto;
    text-align: center;
}

.IconSeti {
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.PoleFooter a {
    text-decoration: none;
    color: #000000;
}

#PoleLeft {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#PoleCenter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

#PoleRight {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}